html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  margin: auto !important;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
}

*:focus {
  outline: 0 !important;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

#NOVCONSOLE div[id='__vconsole'] {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #dcdfe6;
  transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}

.el-image-viewer__mask {
  opacity: 0.9 !important;
}

.el-pagination {
  margin-top: 20px;
  justify-content: center;
}
.el-pagination__rightwrapper {
  flex: inherit !important;
}
